<div class="main-container">
    <mat-toolbar color="secondary">
        <img src="../assets/images/sf.png" class="app-logo" alt="Srushti Foundation" />
        <div fxShow="true" fxHide.lt-md="true">    
            <!-- The following menu items will be hidden on both SM and XS screen sizes -->    
            <a routerLink="home" routerLinkActive="active" mat-button >Home</a>
            <a routerLink="clinic" routerLinkActive="active"  mat-button>Srushti Nas Clinic</a>
            <a routerLink="about-us" routerLinkActive="active"  mat-button>About Us</a> 
            <a routerLink="donate" routerLinkActive="active"  mat-button>How To Donate</a>     
            <a routerLink="news" routerLinkActive="active"  mat-button>News</a>
            <a routerLink="media" routerLinkActive="active"  mat-button>Media</a> 
            <a routerLink="initiative" routerLinkActive="active"  mat-button>Initiative</a>    
            <a routerLink="gallery" routerLinkActive="active"  mat-button>Gallery</a> 
            <a routerLink="contact-us"  routerLinkActive="active"  mat-button>Contact</a>    
        </div>
        <div fxFlex fxLayoutAlign="end start" fxHide.gt-sm="true">            
            <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        </div>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill class="example-container">    
        <mat-sidenav #sidenav fxLayout="column">    
            <div fxLayout="column" (click)="sidenav.toggle()">    
                <a routerLink="home" routerLinkActive="active" mat-button >Home</a>
                <a routerLink="clinic" routerLinkActive="active"  mat-button>Srushti Nas Clinic</a>
                <a routerLink="about-us" routerLinkActive="active"  mat-button>About Us</a> 
                <a routerLink="donate" routerLinkActive="active"  mat-button>How To Donate</a>     
                <a routerLink="news" routerLinkActive="active"  mat-button>News</a>
                <a routerLink="media" routerLinkActive="active"  mat-button>Media</a> 
                <a routerLink="initiative" routerLinkActive="active"  mat-button>Initiative</a>    
                <a routerLink="gallery" routerLinkActive="active"  mat-button>Gallery</a> 
                <a routerLink="contact-us"  routerLinkActive="active"  mat-button>Contact</a>  
            </div>    
        </mat-sidenav>    
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
            <footer class="footer">
                <p class="text-center">&copy; Srushti Foundation 2018</p>
            </footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>