<mat-card class="gallery-card">
        <img mat-card-image src="../../assets/images/gallery/IMG-20180511-WA0035.jpg" alt="Photo of a Srushti Foundation">
        <mat-card-content>
                <p>
                 Free books were distributed to the students by the Shruti Foundation
                </p>
        </mat-card-content>
        <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
        </mat-card-actions>
</mat-card>

<mat-card class="gallery-card">
        <img mat-card-image src="../../assets/images/gallery/IMG-20180511-WA0035.jpg" alt="Photo of a Srushti Foundation">
        <mat-card-content>
                <p>
                Free books were distributed to the students by the Shruti Foundation
                </p>
        </mat-card-content>
        <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
        </mat-card-actions>
</mat-card>

<mat-card class="gallery-card">
        <img mat-card-image src="../../assets/images/gallery/IMG-20180511-WA0038.jpg" alt="Photo of a Srushti Foundation">
        <mat-card-content>
                <p>
                Financial Assistance of Rs. 5000 by Shruti Foundation on the occasion of Kavya Jagar at Ridhora Devi Phulambri
                </p>
        </mat-card-content>
        <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
        </mat-card-actions>
</mat-card>
