/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: transparent;
  }

.text-center{
    text-align: center
}
.app-logo{
    max-width: 150px;
    margin-right: 20px;
}
mat-toolbar .mat-button{
    font-size:18px;
}
html,body{
    height: 100%;
    width: 100%;
}
body{    
    background: url(./assets/images/banner-bg.jpg) no-repeat left bottom / cover;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.mat-sidenav-container{
    height: 325px!important;
}
.mat-drawer-container{
    background-color: transparent;
}
.contribute{
    font-size: 72px;
}
.home-section{
    position: relative
}
.home-section h1{   
    font-size: 68px;
    text-align: center;
}


@media only screen and (max-width: 599px){
    body{
        background-position: center bottom;
    }
}